#durak-canvas {
    border: 1px solid black;
}
#bottom {
    position: relative;
    font-size: 18px;
    width: 120px;
    height: 0px;
    left: 10px;
}
#bottom {
    top: -40px;
}
#durak {
    display: flex;
}
#durak-list {
    margin-left: 20px;
    width: 180px;
}
#durak-list select {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 160px;
    min-height: 200px;
}
#durak-interact {
    margin-left: 20px;
}
#text {
    margin-top: 10px;
}
